@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", "sans-serif";
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color:#ffffff ;
  height: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
  }

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
border: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}

/*index page*/

/*header*/

.page-header {
  background: #ffffff;
  color: #000000;
  width: 1060px;
  margin: 0 auto;
  display: flex;
}
.navigation {
  width: 921px;
  display: flex;
}
.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 17px;
}
.navigation-user {
  padding: 0;
}
.navigation-link {
  font-family: "PT Sans", "sans-serif";
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  background-color: #ffffff;
  display: block;
  padding: 20px 34px;

}
.logo {
  display: block;
}
.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background: #756257;
  border-radius: 5px;
  text-transform: uppercase;
  border: none;
}

/*первая навигация - размер в макете 345рх увеличила до 500 на случай переполнения (как на лайве учили)*/
.main-navigation {
width: 500px;
}
.navigation-item:active {
  border-bottom: 2px solid #756257;
}
/*пользовательская навигация - размер в макете 264рх увеличила до 284 на случай переполнения (как на лайве учили)*/
.navigation-user {
min-width: 84px;
margin-left: auto;
}
.navigation-user .navigation-link{
margin: 0;
padding: 0;
min-width: 22px;
min-height: 18px;
padding: 23px 11px;
}
.navigation-user-item .heart {
  padding: 0;
}
.navigation-user-link-button {
width: 160px;
height: 35px;
margin-top: 13px;
margin-left: 20px;
text-decoration: none;
text-align: center;
}
.navigation-user-link-button span {
  display: block;
  margin-top: 8px;
}
.navigation-user-link-button:hover {
  background-color: #615048;
}
.navigation-user-link-button:focus {
  outline: 3px solid #83B3D3;;
}
.navigation-user-link-button:active {
  color: #756257;
}
.navigation-link:hover {
  color: #756257;
}
.navigation-link:focus {
    border: #83B3D3;
  }
.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}
.navigation-icon:hover {
  fill: #756257;
}
.navigation-link .navigation-icon:active {
  color: rgba(117, 98, 87, 0.3);
}
.navigation-link .navigation-icon:active {
  color: rgba(117, 98, 87, 0.3);
}


/* секция invitation */

.invitation {
background-image: url("../images/index-background.jpg");
background-repeat: no-repeat;
background-size: cover;
}
.invitation-white-base-background {
  vertical-align: middle;
  width: 100%;
}
.invitation-img {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 25px;
}

/*секция advantages*/

.advantages {
  text-align: center;
  padding-top: 63px;
}
.index-main-heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: inherit;
  background: #ffffff;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 31px;
  width: 720px;

}
.let-find-reasons {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;


}
.advantages-list {
margin: 0;
padding: 0;
/*display: flex;
flex-wrap: wrap;*/

display: grid;
grid-template-columns: 400px 400px 400px;
grid-template-rows: min-content min-content min-content min-content;
}
.advantages-item {
  grid-column: 1/-1;
  display: flex;
  flex-wrap: wrap;
}
.without-photo {
  width: 400px;
  height: 384px;
  flex-direction: column;
}
.wrapper-item {
  display: flex;
}
.wrapper-description {
  width: 400px;
  background-color: #83B3D3;
  box-sizing: border-box;
  padding: 97px 90px 87px 90px;
}
.item-details {
  width: 400px;
  height: 384px;
  padding: 89px 75px 79px 75px;
  box-sizing: border-box;
}
.item-details-icon {
  width: 75px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 23px;
}
.icon-house {
  background-image: url('../images/icons/house-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.icon-burger {
  background-image: url('../images/icons/burger-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.icon-gift {
  width: 64px;
  height: 76px;
  background-image: url('../images/icons/present-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.without-photo {
  padding: 98px 75px 79px 75px;
  box-sizing: border-box;
}
.advantage-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
}
.advantages-number {
  text-transform: uppercase;
  display: block;
  margin-bottom: 30px;
}
.advantages-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}
.details-title {
margin-bottom: 20px;
}
.special {
  color: #FFFFFF;
  background: #83B3D3;
}
.light-blue {
background-color: hsl(204 48% 67% / 0.12);
}
.dark-blue {
background-color:hsl(204 48% 67% / 0.2)
}

  /*секция search*/

.search{
  text-align: center;
  padding: 91px 240px 93px;
}
.search-question {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  background: #ffffff;
  display: block;
  margin-bottom: 29px;
}
.description-search-process {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 56px;
}
.search-hotel {
  width: 575px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}
.search-hotel:hover {
  background-color: #615048;
}
.search-hotel:focus {
  outline: 3px solid #83B3D3;;
}
.search-hotel:active {
  color:  #756257;

}

/* секция subscription */

.subscription {
  background-image: url("../images/subscription-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  padding: 94px 200px 93px;

}
.subscription span {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin-bottom: 29px;
}
.description-emails {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 46px;
}
.subscription-form {
  display: grid;
  grid-template-columns: 600px auto;
  justify-content: center;
}
.subscription-form input {
  border: 0;
  height: 60px;
}
.input-yuor-email {
  border-radius: 5px 0 0 5px;
  background-color: #F2F2F2;
  padding: 0 19px 0 22px;
  font-family: 'PT Sans';
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.input-yuor-email:required {
  outline:  2px solid #FF5757;
}
.input-yuor-email:hover {
  background-color: #E6E6E6;
}
.input-yuor-email:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}
.input-yuor-email:invalid {
  outline: 2px solid #FF5757;

}
.input-yuor-email:valid {
  outline: 3px solid #83B3D3;
}

.subscription-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
  border-radius: 0 5px 5px 0;
  width: 200px;
}
.subscription-button:hover {
  background-color: #68A2CA;
}
.subscription-button:active {
  color: #83B3D3;
}
.subscription-button:focus {
  outline: 3px solid #756257;;
}


/*footer*/

.footer-contacts-address-link{
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #ffffff;
  text-decoration: none;
}
.page-footer {
  display: flex;
  padding: 40px 72px 30px;
  align-items: center;
}
.footer-social {
  min-width: 115px;

}
.social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-link-button {
  margin-right: 30px;
  width: 10px;
  height: 20px;
  margin-bottom: 5px;
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: 3px solid #83B3D3 1;
  border-radius: 10px;
}
.social-link-button {
  fill:#83B3D3;
}
.social-link-button:hover {
  fill: #68A2CA;
}

.social-link-button:active {
  fill: #68A2CA;
  opacity: 0.3;
  }
.social-link-button:focus {
  outline: 3px solid #83B3D3;

}
.social-item:nth-child(3n) {
  margin-right: 0;
 }
.footer-contacts {
  max-width: 720px;
  text-align: center;
  margin: 0 auto;
}
.footer-contacts-address-link:hover {
  color: #756257;
}
.footer-contacts-address-link:active {
  color: #756257;
  opacity: 0.3;
  padding: 15px;

}
.footer-contacts-address-link:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 15px;
}
.authors {
  min-width: 160px;
  height: 70px;
  box-sizing: border-box;
}
.htmlacademy-link {
  padding: 18px 22px;
  height: 70px;
  display: block;
}
.htmlacademy-link:hover {
  color: #756257;
}
.htmlacademy-link:active {
  color: #756257;
  opacity: 0.3;
}
.htmlacademy-link:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}
.footer-authors-logo {
  width: 115px;
  height: 34px;
}

/*catalog page*/


/*section choice*/

.choice {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background: #83B3D3;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 72px 83px;
}
.main-heading-catalog {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 5px;
}
.breadcrumbs-link {
text-decoration: none;
}
.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 45px;
}
.choice-buttons {
  width: 160px;
  height: 91px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 81px;
  margin-top: 50px;
}
.catalog-filter {
  display: grid;
  grid-template-columns: max-content max-content 287px 160px;
}
.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.catalog-filter-title {
  margin-bottom: 30px;
}
.catalog-filter-item {
  margin-bottom: 13px;
}
.filter-price {
  margin-bottom: 34px;
}
.catalog-price-item {
  border: 2px solid #ffffff;
}
.price-indicator {
  margin-top: 32px;
}
.catalog-price-choice {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: 143px 143px;
}
.price-choice-input-area {
  width: 143px;
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  height: 48px;
  color: #ffffff;
  opacity: 0.3;
  font-size: 18px;
  line-height: 23px;
  text-align: right;

}
.price-indicator {
  width: 287px;
}
.reset-filters {
  background: none;
  text-transform: none;
}
.apply-filters {
  background: #83B3D3;
  margin-bottom: 20px;
}
.infrastructure {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 64px;

}
.type-of-housing {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 167px;
}
.price {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 81px;
}
.checkbox-container input{
  margin-right: 19px;
}
.radio-container input{
  margin-right: 19px;
}


/*секция hotels*/

.hotels {
  font-size: 16px;
  line-height: 21px;
  padding-top: 44px;
}
.selection-data {
  width: 1056px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
}
.number-of-hotels{
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
  background: #ffffff;
  margin-right: 192px;
}
.select-control {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  background: #ffffff;
  margin-right: 81px;
}
.selection-data .button {
  width: 48px;
  height: 48px;
  border: 1px solid black;
  display: block;
  background: #ffffff;
}
.hotel-card-list {
  list-style: none;
  padding: 0;
  /* display: flex;
  flex-wrap: wrap;*/
  width: 1056px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 345px);
  gap: 10px;
  padding-bottom: 54px;
}
.hotel-card {

  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  background: #ffffff;
  margin: 0;
}
.hotel-card-title-link {
  align-self: start;
  text-decoration: none;
}
.hotel-more-information-link {
  text-decoration: none;
  margin-bottom: 16px;
}
.hotel-card-content-container {
  justify-content: space-between;
  display: flex;
  margin-bottom: 16px;
}
.hotel-card-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.hotel-card-buttons-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

}
.hotel-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}
.hotel-favorites-button {
  background: #83B3D3;
}
.button-active {
  background: #7DB54F;
}
.rating-container {
  display: flex;
  justify-content: space-between;
}
.rating-points-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
}
.more-cards {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
  width: 620px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.pagination-block{
  display: flex;
  width: 1056px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 90px;
}
.catalog-pagination-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 302px;
}
.pagination-item {
  display: flex;
  width: 55px;
  height: 55px;
  text-align: center;
  background: #83B3D3;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
}
.current-page {
  background: #F2F2F2;
}
.pagination-link {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
  text-decoration: none;
}
.pagination-current {
  color: #000000;
  background: #F2F2F2;
}
.description-dropdown-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  background: #ffffff;
  margin-right: 51px;
  min-width: 175px;
}
.cards-on-page {
  width: 160px
}
/*секция subscription*/

.catalog-subscription {
  background: #ffffff;
  color: #000000;
}
.description-emails {
  margin: 0;
  margin-bottom: 26px;
}

/*main-page-modal-window page*/


.main-page-modal-window-form {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  background: #ffffff;
  border: 1px solid #dddddd;
  width: 715px;
  margin: 400px auto;
}
.modal-window-title-container {
  display: flex;
  padding: 62px 70px 0 70px;
  justify-content: space-between;
  margin-bottom: 32px;
}
.modal-window-close {
  width: 53px;
  height: 53px;
  border-radius: 25px;
  border: none;
}
.modal-window-list {
  margin: 0;
  padding: 0 70px 70px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 287px 287px;
  grid-template-rows: repeat;
  grid-template-rows: repeat(5,min-content);
  width: 575px;
}
.modal-window-item {
  grid-column: 1/-1;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
.modal-window-item input {
  width: 420px;
}
.description-situation {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  margin-left: 150px;
  margin-bottom: 11px;
}
.modal-window-title {
  margin: 0;
  font-family: PT Sans;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  background: #ffffff;
}
.button-explanation {
  background: #83B3D3;
}
.modal-window-button {
  background: #83B3D3;
}

.adults {
  grid-column: 1/2;
  margin-bottom: 40px;
}
.adults label {
  display: flex;
  width: 288px;
}
.adults input{
  margin: 0;
  padding: 0;
  width: 43px;
  border: none;
}
.children {
  grid-column: 2/3;
  width: 43px;
  border: none;
  margin-left: 56px;
  margin-bottom: 40px;
}
.children label {
  display: flex;
  width: 230px;

}
.children input{
  margin: 0;
  padding: 0;
  width: 43px;
  border: none;
}
.button-prev-number  {
  width: 45px;
  border: none;
  padding: 0;
  margin-left: 65px;
}
.children .button-prev-number {
  margin-left: 16px;
}
.button-next-number {
  width: 45px;
  border: none;
  padding: 0;
}
.button-explanation {
  margin-left: 14px;
  height: 25px;
  width: 25px;
  border-radius: 15px;
  align-self: center;
}
.start-search {
  width: 100%;
}
